* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}
body {
    background-color:#ea9494;
}
header {
    margin-top: 3vw;
    margin-left: 3vw;
    margin-bottom: 3vw;
}
.title {
    font-weight: 700;
}

nav ol{
   margin-left: 5vw;
}
a:link{
    color: white;
}
a:visited{
    color:#f3e2d6;
}
a:hover{
    color: #a4c2f4;
}

#formulario {
    width: 30%;
    margin: auto; 
    padding: 100px; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    border-radius: 50px;
}
.text-box:focus{
    border: 3px solid #f4c1c1;
    outline: none;
}

input[type="checkbox"]:checked + label {
    font-weight: bold;
    text-decoration: underline;
}
button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    opacity: 0.6; 
}

#galeria{
    margin: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.gallery-items{
    width: 300px;
    height: 300px;
    border: 10px solid #f4c1c1;
}

.gallery-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#conteudo p{
    text-align: center;
    color: whitesmoke;
    font-size: large;
}

div#conteudo p:first-child {
    font-style: italic;
}

div#conteudo p:last-child {
    text-decoration: underline;
}
button {
    margin:1vw;
}
div.botoes button:active {
    transform: scale(0.8);
}

p:not(.important) {
    color: 	#5d748b;
    font-weight: bold;
    text-decoration: underline;
}

.paragrafos p {
    text-align: center;
}